.view {
  background: url(https://images.pexels.com/photos/51401/pexels-photo-51401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)no-repeat center center;
  background-size: cover;
}

.navbar {
  background-color: rgba(0,0,0,0.5);
  
}

.top-nav-collapse {
 background-color: rgba(0,0,0,0.5);
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: rgb(24, 25, 27);
  }
}

html,
body,
header,
.view {
height: 100%;
}

html,
header,
.view {
  height: 100%;

}
.container{
width: 100%;
}
 
.top-right {
  position:absolute;
  top: 160%;
  right: 7%;

}
  
}
    *{
    box-sizing: border-box;ß
    }

    hr {
      height: 1px;
      color: blue;
      background-color: rgb(64, 67, 70);
      border: none;
      }
    

h1 {
    
    
}
h2 {
  
}
h3 { 
}

  h4 {
  
  
  

}
.move {


}
p {
   

}


.about {
}

    .navbar-brand {
    color: #000;
    padding-top: .7rem;
    padding-bottom: .7rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}
.navbar-nav {
  justify-content: right;
}
* {
    box-sizing: border-box;
  }

.header {
        
      }
      
     
    
      .main {
       
        
        
      }
      img {
       
   
      }
    

      .container {
        text-align: center;

      }
      .date,
      .position {
     
      }


    .self {
     
    }

    .column {
        float: left;
        width: 100%;
        padding: 20px;
        height: fit-content; 
     
      }
      
      .row{
        content: "";
        display: table;
        clear: both;
      }

      .sk1 {
        color:whitesmoke;

      }

  
    .black {
      
    }
    
    .skills {
      
    }
  
      * {box-sizing: border-box}
    
    .container1 {
     
    }
    
    .html {width: 90%; background-color:  aqua; border: whitesmoke;}
      
    

   .css {width: 80%; background-color: aqua; border: whitesmoke;}
   
   .colors{
     color: aliceblue;
   }


  .contact {
   
  }


  .contact-text {
    
  }
  
  .resume {
   
  }

  
.nav-item{
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.50rem;
  justify-content: right;

}

