/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }


.date{
  color:black;
  font-weight: bolder;
}
body{
  background:;
}
.about-info{
font-size: 1rem;
}
.about{
  font-size: 1rem;
}
.education{
  background:white;
  margin: 20px;
  text-align: center;
  
}
.position{
  color:black;
  font-weight: bold;
}
.mt-4{
  color: black;
}
.resume{
  background:;
}
/* .image{
  background: url(https://images.pexels.com/photos/1496139/pexels-photo-1496139.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  */
}
h4{
  font-weight: bold;
}
.feature_item {
  padding: 55px 35px;
  text-align: center;
  background: black;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 10%;
}
.img, .blog-img, .user-img {
  background-size: cover;
  background-position: center center;
}
.project {
  width: 100%;
  height: 285px;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
}
