.view {
  background: url(https://images.pexels.com/photos/295826/pexels-photo-295826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)no-repeat center center;
}
.view

.navbar {
  background-color: rgba(0,0,0,0.5);
  
}

.top-nav-collapse {
 background-color: rgba(0,0,0,0.5);
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: rgb(24, 25, 27);
  }
}

html,
body,
header,
.view {
height: 100%;
}

html,
header,
.view {
  height: 100%;

}
.container{

}
 
.top-right {
  position:absolute;
  top: 160%;
  right: 7%;

}
  
}
    *{
    box-sizing: border-box;ß
    }

    hr {
      height: 1px;
      color: blue;
      background-color: rgb(64, 67, 70);
      border: none;
      }
    



      .container {
        text-align: center;
        
        width: 100%;
        }

     

    .column {
        float: left;
        width: 100%;
        padding: 20px;
        height: fit-content; 
     
      }
      
      .row{
        content: "";
        display: table;
        clear: both;
      }

      .sk1 {
        color:whitesmoke;

      }

  
    .black {
      
    }
    
    .skills {
      
    }
  
      * {box-sizing: border-box}
    
    .container1 {
     
    }
    
    .html {width: 90%; background-color:  aqua; border: whitesmoke;}
      
    

   .css {width: 80%; background-color: aqua; border: whitesmoke;}
   
   .colors{
     color: aliceblue;
   }


  .contact {
   
  }


  .contact-text {
    
  }
  
  .resume {
   
  }

  
.nav-item{
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.50rem;
  justify-content: right;

}

